.venus{
background-color: antiquewhite;
}
.mercury{
background-color: aqua;
}
.mars{
background-color: antiquewhite;
}
.earth{
background-color: brown;
}
.jupiter{
background-color: darkcyan;
}
.uranus{
background-color: darkorange;
}
.nepturne{
background-color: hotpink;
}